<!doctype html>
<html lang="cn">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <!-- FontAwesome Min CSS -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" href="../../assets/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <!-- Image LightBox Min CSS -->
    <link rel="stylesheet" href="../../assets/css/imagelightbox.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="../../assets/css/nice-select.min.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="../../assets/css/meanmenu.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="../../assets/css/odometer.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../assets/css/responsive.css">


    <title>TeaTrack&nbsp;·&nbsp;茶查</title>

    <link rel="icon" type="image/png" href="../assets/image/favicon.ico">
</head>

<body>
{{if .Msg}}
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="times icon"></i>
            {{.Msg}}
        </div>

        <div class="actions">
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                好的
            </div>
        </div>
    </div>




{{end}}

<!-- Start Preloader Area -->
<div class="preloader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="trifles-responsive-nav">
        <div class="container">
            <div class="trifles-responsive-menu">
                <div class="logo">
                    <a href="/backToHome">
                        <img src="../assets/image/logo-full-black.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="trifles-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/image/logo-full-black.png" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/backToHome" class="nav-link">
                                首页
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                产品
                                <i class="fa fa-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/singProduct" class="nav-link">川红工夫</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/singProduct" class="nav-link">宜宾早茶</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/singProduct" class="nav-link">宜宾早白尖</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/newsOverall" class="nav-link active">
                                新闻
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/about" class="nav-link">
                                关于
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/contact" class="nav-link">
                                联系我们
                            </a>
                        </li>


                        {{if .IsLogin}}
                            {{if .IsStaff}}
                                <li class="nav-item">
                                    <a class="nav-link">
                                        员工
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/addTeaPage" class="nav-link">
                                                货物入库
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/modifyQuery" class="nav-link">
                                                物流更新
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/profilePage" class="nav-link">
                                                个人主页
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/logout" class="nav-link">
                                                退出登录
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {{end}}
                            {{if .IsSuperAdmin}}
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        超级管理员
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/superBackStage" class="nav-link">
                                                后台首页
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/profilePage" class="nav-link">
                                                个人主页
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/logout" class="nav-link">
                                                退出登录
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {{end}}
                            {{if .IsAdmin}}
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        管理员
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/backStage" class="nav-link">
                                                后台首页
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/profilePage" class="nav-link">
                                                个人主页
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/logout" class="nav-link">
                                                退出登录
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {{end}}
                            {{if .IsUser}}
                                <li class="nav-item">
                                    <a class="nav-link">
                                        {{.Sess.UserName}}
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/profilePage" class="nav-link">
                                                个人主页
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/logout" class="nav-link">
                                                退出登录
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {{end}}
                        {{end}}

                    </ul>

                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->


<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>新闻</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Section -->
<section class="blog-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item-two">
                    <div class="blog-image">
                        <img src="../../assets/img/blog/4.jpg" alt="image">
                    </div>

                    <div class="blog-content">
                        <span>2020-08-10</span>
                        <h3>四川宜宾高县势将做强茶产业</h3>
                        <p>四川宜宾高县是全国早茶生产基地和茶叶原产地之一，有着3000多年……</p>
                        <div class="blog-btn">
                            <a href="single-news.html" class="blog-btn-one">
                                更多
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item-two">
                    <div class="blog-image">
                        <img src="../../assets/img/blog/5.jpg" alt="image">
                    </div>

                    <div class="blog-content">
                        <span>2020-08-08</span>
                        <h3>高县多基多园打造全省茶叶第一县</h3>
                        <p>近年来，高县围绕“基地、园区、品牌、市场”，“多基多园”打造全省茶叶产业第一县……</p>
                        <div class="blog-btn">
                            <a href="single-news.html" class="blog-btn-one">
                                更多
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item-two">
                    <div class="blog-image">
                        <img src="../../assets/img/blog/6.jpg" alt="image">
                    </div>

                    <div class="blog-content">
                        <span>2020-05-24</span>
                        <h3>高县茶叶以创新为驱动助茶农增收</h3>
                        <p>5月24日，记者来到高县峰顶寺茶业的落润乡茶叶基地采访时了解到，该县茶场通过机采机修……</p>
                        <div class="blog-btn">
                            <a href="single-news.html" class="blog-btn-one">
                                更多
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item-two">
                    <div class="blog-image">
                        <img src="../../assets/img/blog/7.jpg" alt="image">
                    </div>

                    <div class="blog-content">
                        <span>2016-11-24</span>
                        <h3>高县积极壮大茶叶产业</h3>
                        <p>
                            “两带”优化产业布局<br/>
                            “良繁”更新茶树品种<br/>
                            ……
                        </p>
                        <div class="blog-btn">
                            <a href="single-news.html" class="blog-btn-one">
                                更多
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item-two">
                    <div class="blog-image">
                        <img src="../../assets/img/blog/8.jpg" alt="image">
                    </div>

                    <div class="blog-content">
                        <span>2014-07-31</span>
                        <h3>高县茶叶面积年内将达25万亩 综合产值13亿</h3>
                        <p>高县是全国茶叶生产基地、优质出口茶基地县和全省茶叶良繁基地。近年来，该县紧扣“规模……</p>
                        <div class="blog-btn">
                            <a href="single-news.html" class="blog-btn-one">
                                更多
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item-two">
                    <div class="blog-image">
                        <img src="../../assets/img/blog/6.jpg" alt="image">
                    </div>

                    <div class="blog-content">
                        <span>2020-07-13</span>
                        <h3> 四川国际茶博会 高县上榜全省茶业十强名单 早白尖喜获奖励</h3>
                        <p>7月2日，第九届四川国际茶博会在成都世纪城新国际会展中心启幕。全省11个茶叶主产市1000余家企业集中……</p>
                        <div class="blog-btn">
                            <a href="single-news.html" class="blog-btn-one">
                                更多
                                <i class="flaticon-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers"><i class="fas fa-angle-double-left"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a href="#" class="page-numbers">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="next page-numbers"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section -->

<!-- Start Footer Section -->
<section class="footer-section footer-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>茶园服务</h3>
                    </div>

                    <ul class="footer-quick-links">
                        <li>
                            溯源查询
                        </li>
                        <li>
                            批量订购
                        </li>
                        <li>
                            茶园参观
                        </li>
                        <li>
                            生产线参观
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>网站服务</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li>
                            <a href="http://47.108.134.136:8080/#/" class="item">
                                区块链浏览器
                            </a>
                        </li>
                        <li>
                            <a href="tel:08889802047">
                                客服热线
                            </a>
                        </li>

                        <li>
                            <a href="signup.html">
                                账户详情
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>联系方式</h3>
                    </div>
                    <div class="footer-info-contact">
                        <span>中国，宜宾，高县</span>
                    </div>
                    <div class="footer-info-contact">
                        <span><a href="tel:+882-569-756">987-0986-0987</a></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p>

                            All Rights Reserved
                            <i class="far fa-copyright"></i>
                            2020 TeaTrack&nbsp;·&nbsp;茶查

                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Section -->


<!-- Start Go Top Section -->
<div class="go-top">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-up"></i>
</div>
<!-- End Go Top Section -->

<!-- jQuery Min JS -->
<script src="../../assets/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="../../assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="../../assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="../../assets/js/owl.carousel.min.js"></script>
<!-- MeanMenu JS -->
<script src="../../assets/js/jquery.meanmenu.js"></script>
<!-- Popup JS -->
<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
<!-- Appear JS -->
<script src="../../assets/js/jquery.appear.min.js"></script>
<!-- Odometer JS -->
<script src="../../assets/js/odometer.min.js"></script>
<!-- Image LightBox Min JS -->
<script src="../../assets/js/imagelightbox.min.js"></script>
<!-- Nice Selects Min JS -->
<script src="../../assets/js/jquery.nice-select.min.js"></script>
<!-- AjaxChimp Min JS -->
<script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="../../assets/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="../../assets/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="../../assets/js/main.js"></script>
</body>
</html>
