<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-touch-fullsreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Tea Safe · 茶查</title>
    <link rel="Shortcut Icon" href="../../static/image/TeaSafeLogo.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../../static/css/queryResult.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
        .iw_poi_title {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap
        }

        .iw_poi_content {
            font: 12px arial, sans-serif;
            overflow: visible;
            padding-top: 4px;
            white-space: -moz-pre-wrap;
            word-wrap: break-word
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>


<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/backToHome" class="header item">
            <img class="logo" src="../../static/image/login-logo.png">
            &nbsp;&nbsp;&nbsp;&nbsp;
            Tea Safe&nbsp;&nbsp;•&nbsp;&nbsp;茶查
        </a>
        {{if .IsLogin}}
            {{if .IsSuperAdmin}}
                <div class="ui simple dropdown item">
                    后台管理 <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/superBackStage">
                            后台首页
                        </a>
                        <a class="item" href="/queryPage">
                            搜寻ID
                        </a>
                        <div class="divider"></div>
                        <div class="header">管理</div>
                        <a class="item" href="/sbsDataMana">
                            数据管理
                        </a>
                        <a class="item" href="/sbsAdminMana">
                            管理员任命
                        </a>
                        <a class="item" href="/sbsUserMana">
                            用户管理
                        </a>
                    </div>
                </div>
            {{end}}
            {{if .IsAdmin}}
                <div class="ui simple dropdown item">
                    后台管理 <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/backStage">
                            后台首页
                        </a>
                        <a class="item" href="/queryPage">
                            搜寻ID
                        </a>
                        <div class="divider"></div>
                        <div class="header">管理</div>
                        <a class="item" href="/bsDataMana">
                            数据管理
                        </a>
                        <a class="item" href="/bsAdminMana">
                            管理员任命
                        </a>
                        <a class="item" href="/bsUserMana">
                            用户管理
                        </a>
                    </div>
                </div>
            {{end}}
            {{if .IsStaff}}
                <div class="ui simple dropdown item">
                    员工操作 <i class="dropdown icon"></i>
                    <div class="menu">

                        <a class="item" href="/addTeaPage">
                            添加记录
                        </a>
                        <a class="active item" href="/queryPage">
                            搜寻ID
                        </a>
                    </div>
                </div>
            {{end}}
            {{if .IsUser}}
                <a class="item" href="/queryPage">
                    搜寻ID
                </a>
            {{end}}
        {{else}}
            <a class="item" href="/queryPage">
                搜寻ID
            </a>
        {{end}}

        {{if .IsUser}}
            <a class="item" href="/queryPage">
                搜寻ID
            </a>
        {{end}}
        {{if .IsLogin}}
            <div class="ui simple dropdown right item">
                Welcome, {{.Sess.UserName}}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/profilePage">
                        我的信息
                    </a>
                    <a class="item" href="/logout">
                        注销登陆
                    </a>
                </div>
            </div>
        {{else}}
            <a href="/loginPage" class="header right item">
                登录
            </a>
            <a href="/registerPage" class="header item">
                注册
            </a>
        {{end}}
    </div>
</div>

<div class="pusher">
    <br/><br/><br/><br/><br/>
    <div style="height: auto">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h5 class="ui teal image header">
                    <h3 class="ui teal image header">
                        <img class="ui massive image" src="../../static/image/login-logo.png" alt="">
                        <h3>当前商品信息如下</h3>
                    </h3>
                </h5>
                <br/><br/>
            </div>
        </div>

        <div class="ui middle aligned center aligned grid">
            <div class="ui list" style="margin-top: 14px; margin-left: 30px">
                <a class="item">
                    <i class="boxes icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Id}}</div>
                        <div class="description">商品编号</div>
                    </div>
                </a>
                <br/>
                <a class="item">
                    <i class="fire icon">&nbsp;</i>
                    <div class="content">
                        <div class="header">{{.Tea.Origin}}</div>
                        <div class="description">产地</div>
                    </div>
                </a>
                <br/>
                <a class="item">
                    <i class="leaf icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Maker}}</div>
                        <div class="description">制造商</div>
                    </div>
                </a>
                <br/>
                <a class="item">
                    <i class="shopping cart icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Owner}}</div>
                        <div class="description">拥有者</div>
                    </div>
                </a>
            </div>

            <div style="width: 150px"></div>

            <div class="ui list" style="margin-bottom: 14px; margin-left: 30px">
                <a class="item">
                    <i class="tag icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Name}}</div>
                        <div class="description">商品名</div>
                    </div>
                </a>
                <br/>
                <a class="item">
                    <i class="dolly flatbed icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Weight}}</div>
                        <div class="description">重量</div>
                    </div>
                </a>
                <br/>
                <a class="item">
                    <i class="hourglass start icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Production_Date}}</div>
                        <div class="description">生产日期</div>
                    </div>
                </a>
                <br/>
                <a class="item">
                    <i class="hourglass end icon"></i>
                    <div class="content">
                        <div class="header">{{.Tea.Shelf_life}}</div>
                        <div class="description">保质期</div>
                    </div>
                </a>
            </div>


        </div>
        <div style="height: 50px"></div>
        <div class="ui middle aligned center aligned grid">
            <div style="width:697px;height:200px;border:rgba(204,204,204,0) solid 1px;border-radius: 5px;"
                 id="dituContent"></div>
        </div>

        <input id="longitude" type="hidden" value={{.Tea.Origin_IP.Longitude}}>
        <input id="latitude" type="hidden" value={{.Tea.Origin_IP.Latitude}}>
        <input id="origin" type="hidden" value={{.Tea.Origin}}>


        {{if .IsStaff}}
            <br/><br/><br/><br/>
            <div class="ui middle aligned center aligned grid">
                <form action="/modifyQuery">
                    <input type="hidden" name="id" type="text" value={{.Tea.Id}}>
                    <button id="sub_btn" class="ui secondary button" onclick="loadingBtn()">修改当前信息</button>
                </form>
            </div>
        {{end}}
        <div class="ui middle aligned center aligned grid">
            <div class="ui statistic">
                <br/><br/><br/>
                <div class="label">
                    该商品总计被查询
                </div>
                <div class="value">
                    {{.Tea.QueryCounter}}
                </div>
                <br/><br/><br/>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4>这是您的溯源查询</h4>
                    <ul class="timeline">

                        <li>
                            <div class="float-right">
                                <a class="ui label" one-link-mark="yes">
                                    <i class="clock outline icon cc_cursor"></i>
                                    {{.Tea.Production_Date}}
                                </a>
                            </div>
                            <p>
                                <b>交易ID：</b><br/>
                                {{.Tea.TxID}}
                            </p>
                            <p>
                                <b>区块高度：</b><br/>
                                {{.Block.Height}}
                            </p>
                            <p>
                                <b>交易Hash：</b><br/>
                                {{.Block.DataHash}}
                            </p>
                            <p>
                                <b>区块Hash：</b><br/>
                                {{.Block.BlcHash}}
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <br/><br/><br/>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">关于</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">网站地图</a>
                        <a href="#" class="item">联系我们</a>
                        <a href="#" class="item">隐私条款</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">服务</h4>
                    <div class="ui inverted link list">
                        <a href="http://127.0.0.1:8080/#/" class="item">
                            区块链浏览器
                        </a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Tea Safe · 茶查</h4>
                    <p>
                        All Copyright &copy; Tea Safe
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/semantic.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script>
    $(document)
        .ready(function () {

            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
            ;

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
            ;

        })
    ;

    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap() {
        var longitude = document.getElementById("longitude").value;
        var latitude = document.getElementById("latitude").value;

        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(longitude, latitude);//定义一个中心点坐标
        map.centerAndZoom(point, 14);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.disableDragging();//禁用地图拖拽事件
        map.disableScrollWheelZoom();//禁用地图滚轮放大缩小，默认禁用(可不写)
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.disableKeyboard();//禁用键盘上下左右键移动地图，默认禁用(可不写)
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }


    var longitudeINT = document.getElementById("longitude").value;
    var latitudeINT = document.getElementById("latitude").value;
    var origin = document.getElementById("origin").value;
    var longitude = longitudeINT.toString();
    var latitude = latitudeINT.toString();

    //标注点数组
    var markerArr = [{
        title: origin,
        point: longitude+"|"+latitude,
        isOpen: 0,
        icon: {w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5}
    }
    ];

    //创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point, {icon: iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, {"offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#808080",
                color: "#333",
                cursor: "pointer"
            });

            (function () {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function () {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function () {
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close", function () {
                    _marker.getLabel().show();
                })
                label.addEventListener("click", function () {
                    _marker.openInfoWindow(_iw);
                })
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }

    //创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }

    //创建一个Icon
    function createIcon(json) {
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), {
            imageOffset: new BMap.Size(-json.l, -json.t),
            infoWindowOffset: new BMap.Size(json.lb + 5, 1),
            offset: new BMap.Size(json.x, json.h)
        })
        return icon;
    }

    initMap();//创建和初始化地图
</script>
</body>

</html>
