.masthead .logo.item img {
    margin-right: 1em;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.headgap{
    min-height: 50px;
}
.teabody {
    min-height: 600px;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.footer.segment {
    text-align: center;
    padding: 50px 0;
    width: 100%;
}

table.dataintable th {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px 15px 5px 5px;
    text-align: center;
    vertical-align: baseline;
}

table.dataintable td {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #bfbfbf;
    padding: 5px 15px 5px 5px;
    vertical-align: text-top;
}
